<h1>Todo list</h1>
<div class="alert alert-info">
    Completed: {{ completed() }} / {{ total() }}
</div>
<form>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done" ng-change="mark(todo)"/>
                <span class="done-{{ todo.done }}">{{ todo.name }}</span>
            </label>
        </li>
    </ul>
</form>
<form ng-submit="add()">
    <div class="input-append">
        <input type="text" ng-model="name"/>
        <button class="btn btn-primary" type="submit">
            <i class="icon-plus icon-white"></i> Add
        </button>
    </div>
</form>
<div>
    <button class="btn btn-danger" type="button" ng-click="cleanup()">
        <i class="fa fa-trash"></i> Remove All Completed
    </button>
</div>